.ctn-header{
    padding-top: 5px;
}

.main-background{
    padding-top: 1px;
    background-color: lightgray;
}

.main-container{
    background-image: linear-gradient(to right,lightgray, darkorange , silver, darkorange , lightgray);
    width: 95%;
}

.data-columns{
    background-color: white;
}

.ctn-shadow{
    box-shadow: 10px 10px 5px grey;
}

.ctn-5day{
    padding-top: 15px;
}

.spacer-sm{
    margin: 5px;
}
#map { 
    height: 400px; 
    width: 95%;
}

.forecast-date{
    position: relative;
    background-color: olive;
}

.forecast-high{
    position: relative;
    top: 80px;
    left: 0;
    width: 125px;
    height: 100px;
    background-color: red;
}

.forecast-low{
    position: relative;
    bottom: 80px;
    left: 0;
    width: 125px;
    height: 100px;
    background-color: blue;
}

.forecast-img{
    position: absolute;
    top: 80px;
    right: 10px;
    width: 150px;
    height: 100px;
    background-color: goldenrod;
    /*background-image: url("/images/Weather-Icons/sunny.png")*/
}

.forecast-ctn{
    background-color: whitesmoke;
}