.hdr{
    background-color: rgb(55, 133, 143);
}

body {
    background-color: rgb(55, 133, 143);
  }
  
.logo-ctn{
    justify-content: center;
    padding: 10px;
}
#site-nav{
    width: 100%;
    background-color: rgb(32, 32, 32);
}
#site-nav li {
    float: left;
    display: block;
    color: rgba(252, 113, 0, 0.911);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow:
    1px 1px 0 rgb(221, 221, 221);
    font-family: Rockwell;
    font-size: 22px;
}
#site-nav li a{
    color: rgba(252, 113, 0, 0.911);
    text-decoration: none; 
  }

#site-nav li:hover {
    background-color: #111;
  }

#map-layers{
    background-color: rgb(228, 228, 228);
    padding-right: 50px;
}
#map-layers li {
    float: right;
    display: block;
    color: black;
    text-align: left;
    padding: 9px 10px;
    text-decoration: none;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
#map-layers li:hover {
    background-color: rgba(252, 113, 0, 0.911);
}

.map-selectors{
    justify-content: center;
}
.data-columns{
    background-color: rgb(32, 32, 32);
}

.ctn-forecast{
    padding-top: 15px;
}

.spacer-sm{
    margin: 5px;
}
#map-weather{
    border: 5px red;
}
#map { 
    height: 400px;
    border: 5px silver;
    box-shadow: 5px 5px 5px rgb(97, 96, 95);
}
/*** 5-day forcast section ***/
.forecast-date{
    align-content: center;
    width: 100%;
    text-align: center;
}

.forecast-high{
    width: 40%;
    height: 70px;
    left: 0;
    text-align: center;
    padding: 20px 0;
    color: rgb(255, 77, 23);
    font-size: 28px;
}

.forecast-low{
    width: 40%;
    height: 50px;
    text-align: center;
    color: rgb(0, 101, 184);
    font-size: 18px;
}

.forecast-img{
    position: absolute;
    top: 24px;
    right: 15px;
    width: 120px;
    height: 120px;
    background-image: url("images/Weather-Icons/sunny.png");
    font-size: 8px;
}

.forecast-ctn{
    background-color: whitesmoke;
    height: auto;
}

#forecast{
    overflow:auto;
    box-shadow: 5px 5px 5px rgb(97, 96, 95);
    margin-bottom: 20px;
    margin-top: 20px;
}

/*** 5-day forcast END ***/

.city-bnr{
    text-align: center;
    padding: 20px 0;
    border-radius: 6px;
    border: 1px solid rgb(104, 104, 104);
    box-shadow: 5px 5px 5px rgb(97, 96, 95);
    background-color: rgba(233, 233, 233, 0.993);
    height: 50%;
    top: 40px;
}

.city-data{
    padding: 1px;
    font: "Trebuchet MS";
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

.numberFont{
    font-family: Futura;
}

.city-name{
    font-weight: bold;
    font-size: 24px;
}

.city-temp{
    font-size: 22px;
}

/*** Temperature Colors ***/

.pink{
    color: rgb(255, 154, 193);
}
.purple{
    color: rgb(214, 36, 214);
}
.blue{
    color: rgb(66, 66, 255);
}
.light-blue{
    color: rgb(5, 192, 255);
}
.green{
    color: rgb(27, 155, 27);
}
.yellow-green{
    color: rgb(165, 231, 33);
}
.yellow{
    color: rgb(255, 255, 1);
}
.orange{
    color: rgb(255, 166, 0);
}
.red{
    color: rgb(207, 3, 3);
}
/*** Temperature Colors END ***/
